/* html {
    width: 960px;
} */

main{
    width: 960px;
    position: absolute;
    padding-top: 25%;
    display: flex;
    justify-content: start;
}
/* form{
    position: absolute;
    padding-top: 25%;
    display: flex;
    justify-content: flex-start;
} */