body {
    width: 960px;
    margin: auto;
    background-color: #f6f3e9;
}

main{
    position: absolute;
    padding-top: 25%;
    display: flex;
    justify-content: start;
}
form{
    position: absolute;
    padding-top: 25%;
    display: flex;
    justify-content: flex-start;
}